# We will be transforming strings into numerical values for data processing.

`For reading the dataset which is in csv format, 
we use 'read_csv', inside it, we pass
dataset's location path address.`

In [61]:
import pandas as pd
dataframe = pd.read_csv ('/content/dumvarenco.csv')
dataframe

        City  Area   Price
0   Rajshahi  2600  550000
1   Rajshahi  3000  565000
2   Rajshahi  3200  610000
3   Rajshahi  3600  680000
4   Rajshahi  4000  725000
5      Dhaka  2600  585000
6      Dhaka  2800  615000
7      Dhaka  3300  650000
8      Dhaka  3600  710000
9    Cumilla  2600  575000
10   Cumilla  2900  600000
11   Cumilla  3100  620000
12   Cumilla  3600  695000

`The function **get_dummies()** is used to manipulate data. It alters categorical data by transforming it into dummy or indicator variables.`

In [62]:
# Here, inside the column of City,
# we have strings.
dummyfile = pd.get_dummies (df.City)
dummyfile

    Cumilla  Dhaka  Rajshahi
0         0      0         1
1         0      0         1
2         0      0         1
3         0      0         1
4         0      0         1
5         0      1         0
6         0      1         0
7         0      1         0
8         0      1         0
9         1      0         0
10        1      0         0
11        1      0         0
12        1      0         0

*Here,we can observe that, those strings are arranged according to their alphabetical order.*

`Python's concat() method.pandas, Concatenation actions are performed via the concat() function together with an axis of Pandas objects, with optional set logic (union or intersection) of the indexes (if any) on the other axes.`

In [63]:
mergedfile = pd.concat ([df, dummy], axis='columns') 
mergedfile

        City  Area   Price  Cumilla  Dhaka  Rajshahi
0   Rajshahi  2600  550000        0      0         1
1   Rajshahi  3000  565000        0      0         1
2   Rajshahi  3200  610000        0      0         1
3   Rajshahi  3600  680000        0      0         1
4   Rajshahi  4000  725000        0      0         1
5      Dhaka  2600  585000        0      1         0
6      Dhaka  2800  615000        0      1         0
7      Dhaka  3300  650000        0      1         0
8      Dhaka  3600  710000        0      1         0
9    Cumilla  2600  575000        1      0         0
10   Cumilla  2900  600000        1      0         0
11   Cumilla  3100  620000        1      0         0
12   Cumilla  3600  695000        1      0         0

`Drop specified labels from rows or columns using the drop() function. By giving the label names and matching axis, or by simply specifying the index or column names, you can remove rows or columns. When a multi-index is used, it is possible to delete labels on different levels by specifying the level.`

In [65]:
# Vertical axis is axis=1 (or axis='columns').
 
# To elaborate, if you use the pandas method 
# drop to delete columns or rows, 
# specifying axis=1 will delete columns. 

# By specifying axis=0, you will 
# delete rows from the dataset.
newdataframe = mergedfile.drop (['City', 'Cumilla'], axis='columns')
newdataframe

    Area   Price  Dhaka  Rajshahi
0   2600  550000      0         1
1   3000  565000      0         1
2   3200  610000      0         1
3   3600  680000      0         1
4   4000  725000      0         1
5   2600  585000      1         0
6   2800  615000      1         0
7   3300  650000      1         0
8   3600  710000      1         0
9   2600  575000      0         0
10  2900  600000      0         0
11  3100  620000      0         0
12  3600  695000      0         0

In [68]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [70]:
a = newdataframe.drop(['Price'], axis='columns')
a

    Area  Dhaka  Rajshahi
0   2600      0         1
1   3000      0         1
2   3200      0         1
3   3600      0         1
4   4000      0         1
5   2600      1         0
6   2800      1         0
7   3300      1         0
8   3600      1         0
9   2600      0         0
10  2900      0         0
11  3100      0         0
12  3600      0         0

In [73]:
b = newdataframe.Price
b

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: Price, dtype: int64

`Fit training data using model.fit(). This accepts two arguments for supervised learning applications: the data X and the labels y (e.g. model.fit(X, y)). This accepts a single argument for unsupervised learning applications.`

In [74]:
fitting = model.fit(a,b)
fitting

LinearRegression()

In [82]:
model.predict ([[2800,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([565089.22812299])

*We have got the estimated Price for given inputs.*

In [83]:
model.score(a,b) * 100

95.73929037221873

In [85]:
from sklearn.preprocessing import LabelEncoder
newobject = LabelEncoder()

dataframe_labelenc = dataframe
newobject.fit_transform( dataframe_labelenc.City)

array([2, 2, 2, 2, 2, 1, 1, 1, 1, 0, 0, 0, 0])

*This has given us City in array format. eg.Cumilla, Dhaka, Rajshahi.*

In [86]:
price_enc = dataframe_labelenc.Price
price_enc

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: Price, dtype: int64

In [87]:
newvar = dataframe[['City','Area']].values
newvar

array([['Rajshahi', 2600],
       ['Rajshahi', 3000],
       ['Rajshahi', 3200],
       ['Rajshahi', 3600],
       ['Rajshahi', 4000],
       ['Dhaka', 2600],
       ['Dhaka', 2800],
       ['Dhaka', 3300],
       ['Dhaka', 3600],
       ['Cumilla', 2600],
       ['Cumilla', 2900],
       ['Cumilla', 3100],
       ['Cumilla', 3600]], dtype=object)

In [89]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

#oencode = OneHotEncoder (categories = [0]) ; we can have this
# if columntransformer was not there.
#oencode

hotcode = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   # The column nums to be transformed (here is [0], however can be [0, 1, 3])
    remainder='passthrough' ) # Leave the rest of the columns untouched

`Column Transformer is a sciket-learn class that facilitates the creation and application of distinct transformers for numerical and categorical data. 
To create transformers, we must first specify the transformer object and then pass the list of transformations as a tuple along with the column to which the transformation should be applied.`

In [90]:
hotcode.fit_transform (newvar)

array([[0.0, 0.0, 1.0, 2600],
       [0.0, 0.0, 1.0, 3000],
       [0.0, 0.0, 1.0, 3200],
       [0.0, 0.0, 1.0, 3600],
       [0.0, 0.0, 1.0, 4000],
       [0.0, 1.0, 0.0, 2600],
       [0.0, 1.0, 0.0, 2800],
       [0.0, 1.0, 0.0, 3300],
       [0.0, 1.0, 0.0, 3600],
       [1.0, 0.0, 0.0, 2600],
       [1.0, 0.0, 0.0, 2900],
       [1.0, 0.0, 0.0, 3100],
       [1.0, 0.0, 0.0, 3600]], dtype=object)

In [91]:
newvar = newvar[:,1:]
newvar

array([[2600],
       [3000],
       [3200],
       [3600],
       [4000],
       [2600],
       [2800],
       [3300],
       [3600],
       [2600],
       [2900],
       [3100],
       [3600]], dtype=object)

In [56]:
model.fit(newvar,y)
model

LinearRegression()

In [58]:
model.predict([[3400]])

array([659259.48973242])

*oencode.fit_transform (newvar).toarray()*
`if we do not use columntranformer, then we can try this out.`